body {
  background-color: #F9F9F9;
  color: #172833; }

main, .item.expandido {
  min-height: calc(100vh - 143px); }
  @media (max-width: 966px) {
    main, .item.expandido {
      min-height: auto; } }

.pularNavegacao, .pularNavegacao:active, .pularNavegacao:focus, .pularNavegacao:hover {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
  position: absolute; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden; }

.titulo {
  font-family: "Glegoo", monospace;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  text-align: center; }
  .titulo h1 {
    font-weight: bold;
    font-size: 3rem; }
    @media (max-width: 966px) {
      .titulo h1 {
        font-size: 2.5rem; } }
  .titulo h2 {
    font-size: 1.2rem;
    line-height: 150%;
    max-width: 80%;
    margin: auto;
    display: block; }
    @media (max-width: 966px) {
      .titulo h2 {
        font-size: 1rem;
        line-height: 150%; } }

.item {
  display: flex;
  justify-content: center;
  text-align: center !important;
  position: relative;
  cursor: pointer;
  margin: 1.5rem; }
  .item .chart rect {
    opacity: 0; }
  .item .circulo {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    margin-left: 75px;
    transition: 0.25s all; }
  .item:hover .circulo {
    transform: scale(1.2); }
  .item .operacoes, .item .btn-fechar {
    display: none; }
  .item .botao .formula {
    color: #172833; }
  .item:last-child {
    padding-bottom: 3rem; }
    @media (max-width: 966px) {
      .item:last-child {
        padding-bottom: 8rem; } }

.item.expandido {
  width: 100%;
  align-items: center;
  margin: 0; }
  @media (max-width: 966px) {
    .item.expandido {
      display: flex;
      flex-flow: column wrap;
      max-height: 100vh; } }
  .item.expandido .chart rect {
    opacity: .5;
    transition: 0.25s all; }
  .item.expandido .circulo {
    display: none; }
  @media (max-width: 966px) {
    .item.expandido .botao {
      max-height: 50vh; } }
  .item.expandido .botao, .item.expandido .operacoes {
    width: 50%; }
    @media (max-width: 966px) {
      .item.expandido .botao, .item.expandido .operacoes {
        width: 100%;
        margin-top: 2rem; } }
  .item.expandido .operacoes {
    display: inline-block;
    padding: 2rem; }
    @media (max-width: 966px) {
      .item.expandido .operacoes {
        padding: 2rem 0;
        overflow: scroll;
        max-height: 50vh;
        background-color: white; } }
    .item.expandido .operacoes h2 {
      font-family: "Glegoo", monospace;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
      @media (max-width: 966px) {
        .item.expandido .operacoes h2 {
          font-size: 1rem;
          padding: 1rem; } }
  .item.expandido .MathJax {
    transition: 0.25s all; }
  .item.expandido .btn-fechar {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 4rem;
    border-radius: 50%;
    transition: 0.25s all; }
    @media (max-width: 966px) {
      .item.expandido .btn-fechar {
        font-size: 2rem; } }
    .item.expandido .btn-fechar:hover {
      background-color: white;
      border-radius: 50%; }
  .item.expandido .btn-operacao {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 1rem 2rem;
    transition: 0.25s all;
    cursor: pointer; }
    @media (max-width: 966px) {
      .item.expandido .btn-operacao {
        margin-top: 0; } }
    .item.expandido .btn-operacao:focus, .item.expandido .btn-operacao:hover, .item.expandido .btn-operacao:active, .item.expandido .btn-operacao.ativo {
      background-color: white; }
    .item.expandido .btn-operacao h6 {
      display: none;
      padding: 0;
      line-height: 150%;
      transition: 0.25s all; }
    .item.expandido .btn-operacao.ativo h6 {
      display: block;
      color: black;
      font-size: .85rem;
      font-weight: bold;
      line-height: 175%;
      padding-top: .5rem;
      font-family: "Glegoo", monospace; }

.item:nth-of-type(4n+1) .circulo, .item:nth-of-type(4n+1).expandido {
  background-color: #d2eaff; }
.item:nth-of-type(4n+1).expandido .chart rect {
  fill: #53afff; }
.item:nth-of-type(4n+1).expandido .btn-operacao.ativo .MathJax {
  color: #53afff; }

.item:nth-of-type(4n+2) .circulo, .item:nth-of-type(4n+2).expandido {
  background-color: #dfffe4; }
.item:nth-of-type(4n+2).expandido .chart rect {
  fill: #00df23; }
.item:nth-of-type(4n+2).expandido .btn-operacao.ativo .MathJax {
  color: #00df23; }

.item:nth-of-type(4n+3) .circulo, .item:nth-of-type(4n+3).expandido {
  background-color: #e9dafd; }
.item:nth-of-type(4n+3).expandido .chart rect {
  fill: #a161f6; }
.item:nth-of-type(4n+3).expandido .btn-operacao.ativo .MathJax {
  color: #a161f6; }

.item:nth-of-type(4n+4) .circulo, .item:nth-of-type(4n+4).expandido {
  background-color: #fcffc8; }
.item:nth-of-type(4n+4).expandido .chart rect {
  fill: #bdc800; }
.item:nth-of-type(4n+4).expandido .btn-operacao.ativo .MathJax {
  color: #bdc800; }

/*# sourceMappingURL=custom.css.map */
