$cinza: #f2f2f2;
$corFonte: #172833;
$tempoTransicao: .25s;

@mixin fontePrincipal { font-family: 'Glegoo', monospace }
@mixin fonteSecundaria { font-family: monospace }

$breakPoint: ("(max-width: 966px)");

body {

  background-color: #F9F9F9;
  color: $corFonte;

}

main, .item.expandido {

  min-height: calc(100vh - 143px);
  @media #{$breakPoint}{ min-height: auto }

}

.pularNavegacao {

  &, &:active, &:focus, &:hover {
    text-indent: 100%;
    white-space : nowrap;
    overflow: hidden;
    width: 1px;
    height: 1px;
    color: transparent;
    position: absolute;
  }

}

.flex {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

break {

  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;

}

.titulo {

  @include fontePrincipal;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 3rem;
    @media #{$breakPoint}{ font-size: 2.5rem }
  }

  h2 {
    font-size: 1.2rem;
    line-height: 150%;
    max-width: 80%;
    margin: auto;
    display: block;
    @media #{$breakPoint}{
      font-size: 1rem;
      line-height: 150%;
    }
  }

}

.item {

  display: flex;
  justify-content: center;
  text-align: center!important;
  position: relative;
  cursor: pointer;
  margin: 1.5rem;

  .chart {
    rect {
      opacity: 0;
    }
  }

  .circulo {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    margin-left: 75px;
    transition:$tempoTransicao all;
  }

  &:hover .circulo {
    transform: scale(1.2);
  }

  .operacoes, .btn-fechar {
    display: none;
  }

  .botao .formula {
    color: $corFonte;
  }

  &:last-child {
    padding-bottom: 3rem;
    @media #{$breakPoint}{
      padding-bottom: 8rem;
    }
  }

}

.item.expandido {

  width: 100%;
  align-items: center;
  margin: 0;
  @media #{$breakPoint}{
    display: flex;
    flex-flow: column wrap;
    max-height: 100vh;
  }

  .chart {
    rect {
      opacity: .5;
      transition:$tempoTransicao all;
    }
  }

  .circulo {
    display: none;
  }

  .botao {
    @media #{$breakPoint}{
      max-height: 50vh;
    }
  }

  .botao, .operacoes {
    width: 50%;
    @media #{$breakPoint}{
      width: 100%;
      margin-top: 2rem;
    }
  }

  .operacoes {
    display: inline-block;
    padding: 2rem;
    @media #{$breakPoint}{
      padding: 2rem 0;
      overflow: scroll;
      max-height: 50vh;
      background-color: white;
    }

    h2 {
      @include fontePrincipal;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      @media #{$breakPoint}{
        font-size: 1rem;
        padding: 1rem;
      }
    }

  }

  .MathJax {
    transition: $tempoTransicao all;
  }

  .btn-fechar {

    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 4rem;
    border-radius: 50%;
    transition:$tempoTransicao all;
    @media #{$breakPoint}{
      font-size: 2rem;
    }

    &:hover {
      background-color: white;
      border-radius: 50%;
    }

  }

  .btn-operacao {

    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 1rem 2rem;
    transition: $tempoTransicao all;
    cursor: pointer;
    @media #{$breakPoint}{
      margin-top: 0;
    }

    &:focus, &:hover, &:active, &.ativo {
      background-color: white;
    }

    & h6 {
      display: none;
      padding: 0;
      line-height: 150%;
      transition: $tempoTransicao all;
    }

    &.ativo h6 {
      display: block;
      color: black;
      font-size: .85rem;
      font-weight: bold;
      line-height: 175%;
      padding-top: .5rem;
      @include fontePrincipal;
    }

  }

}

$corItem1: #d2eaff;
$corItem2: #dfffe4;
$corItem3: #e9dafd;
$corItem4: #fcffc8;

.item:nth-of-type(4n+1){
  .circulo, &.expandido {
    background-color: $corItem1;
  }
  &.expandido {
    .chart rect {
      fill: darken($corItem1, 25);
    }
    .btn-operacao {
      &.ativo .MathJax {
        color: darken($corItem1, 25);
      }
    }
  }
}

.item:nth-of-type(4n+2){
  .circulo, &.expandido {
    background-color: $corItem2;
  }
  &.expandido {
    .chart rect {
      fill: darken($corItem2, 50);
    }
    .btn-operacao {
      &.ativo .MathJax {
        color: darken($corItem2, 50);
      }
    }
  }
}

.item:nth-of-type(4n+3){
  .circulo, &.expandido {
    background-color: $corItem3;
  }
  &.expandido {
    .chart rect {
      fill: darken($corItem3, 25);
    }
    .btn-operacao {
      &.ativo .MathJax {
        color: darken($corItem3, 25);
      }
    }
  }
}

.item:nth-of-type(4n+4){
  .circulo, &.expandido {
    background-color: $corItem4;
  }
  &.expandido {
    .chart rect {
      fill: darken($corItem4, 50);
    }
    .btn-operacao {
      &.ativo .MathJax {
        color: darken($corItem4, 50);
      }
    }
  }
}
